
@{ 
    ViewData["Title"] = "Index";
}

<h1>Desenvolvido por TalesValente.com.br</h1>
<hr />
<h3>Apoio: Macoratti.net / Stack Overflow / Microsoft Community</h3>
<hr />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if (ViewData["Error"] != null)
            {
                <h2 class="display-4">@ViewData["Error"]</h2>
            } 
    </div>
    <div class="container">
        @if (ViewData["Resultado"] != null)
        {
            <h2 class="display-4">@ViewData["Resultado"]</h2>
        }
        @if (ViewData["Read"] != null)
        {
            <h2 class="display-4">@ViewData["Read"]</h2>
        }

    </div>
    
</div>